* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-spinner {
    border: 4px solid rgba(255, 255, 255, 0.3); /* Adjust color and size as needed */
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Animation */
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    min-height: 100vh;
    width: 17%;
    background-image: linear-gradient(to bottom, var(--primary), #796cca);
    display: flex;
    flex-direction: column;
    transition: width 1s ease;
}

.visible {
    display: block !important;
    width: 10rem !important;
}

.panel {
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
}

#logo {
    padding: 20px;
    font: 700 1rem sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

.panel hr {
    border: 10px solid transparent;
}

.active {
    padding: 3px;
    background-color: var(--primary);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    width: 80%;
    cursor: pointer;
    margin-bottom: 10px !important;
}

.active>a>span {
    font: 600 0.9rem sans-serif;
    color: white;
}

.active>a>img {
    opacity: 1;
}

ul {
    list-style-type: none;
}

.nav-item {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.nav-item:hover .nav-link img {
    opacity: 1;
}

.nav-item:hover .nav-link span {
    color: white;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-link>img {
    margin: 10px;
}

.nav-link>span {
    color: var(--grey);
    font: 100 0.9rem sans-serif;
}

.sidebar-heading {
    color: rgba(255, 255, 255, 0.500);
    font: 700 0.7rem sans-serif;
    cursor: auto !important;
}

.img {
    opacity: 0.5;
}

.main {
    flex: 1;
    background-color: rgba(234, 243, 252, 0.397);
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    height: 90px;
}

.menu {
    margin-left: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.menu>img {
    width: 40px;
    display: none;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#balance {
    height: 2vmax;
    width: 9vmax;
    background-color: var(--secondary);
    border-radius: 7px;
    color: white;
    border: none;
    padding: 7px;
    font: 700 1vmax sans-serif;
    margin: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accountbtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.messagebtn,
.notificationbtn {
    margin: 10px;
    cursor: pointer;
}

.icon:hover {
    filter: brightness(80%);
}

.verticalline {
    width: 1px;
    height: 50px;
    background-color: #b7b9ccba;
    margin: 20px;
}

#profilepic {
    margin: 10px;
}

#name {
    color: #8b8c94;
    margin-right: 40px;
    font: 100 0.8rem sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content>hr {
    border-top: 1px solid var(--grey);
    width: 100%;
}

.dropdown-content div {
    color: var(--grey);
    padding: 12px 50px;
    text-decoration: none;
    font: 100 0.7rem sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#dropPackage div:last-child img {
    width: 30px;
}

#dropPackage div:first-child img {
    width: 30px;
}

.dropdown-content div:first-child {
    border-radius: 10px 10px 0px 0px;
}

.dropdown-content div:last-child {
    border-radius: 0px 0px 10px 10px;
}

.dropdown-content div:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}






.cards {
    margin: 30px;
    min-height: 100vh;
}

.lowBalWarning {
    display: none;
    background-color: #F7EBCC;
    color: #AF8008;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 10px 20px;
    border-radius: 10px;
    align-items: center;
}

.lowBalWarning a span {
    color: #AF8008;
    font: 100 1rem sans-serif;
}

.lowBalWarning a span:last-child {
    font: 700 1rem sans-serif;
}

.lowBalWarning a:hover {
    text-decoration: underline;
    color: #AF8008;
}

.greet {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 3rem !important;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.greet>h2 {
    font: 700 1.5rem sans-serif;
    color: var(--grey);
    padding: 0.5rem 6rem;
}

.form {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;;
}

#searchbar {
    border-radius: 10px;
    background-color: white;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
}

#searchField {
    font: 100 1.1rem sans-serif;
    outline: none;
    color: var(--grey);
    background-color: white;
    border: none;
    width: 70%;
    padding: 0.5rem 0.5rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#searchbtn {
    font: 100 1.1rem sans-serif;
    outline: none;
    color: var(--grey);
    background-color: var(--lightgrey);
    border: none;
    padding: 0.5rem 0.5rem !important;
    width: 30%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.5s;
}
#searchbtn:hover{
    filter: brightness(90%);
    transform: scale(1.02);
}

input::placeholder {
    color: var(--lightgrey);
}

#selected {
    width: 20%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    color: grey;
    padding-left: 0.5rem;
    outline-color: var(--primary);
}

.innerFilter{
    display: flex;
    width: 30%;
    gap: 1rem;
}

.filters {
    background-color: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font: 100 1rem sans-serif;
    width: 70%;
    border-radius: 10px;
}

.filters img {
    width: 30px;
}
.filters:hover img{
    filter: hue-rotate(-30deg);
}
.filters:hover{
    text-decoration: underline;
    color: var(--primarydark);
}

.toggle img{
    width: 30px;
    filter: invert(50%);
}
.toggle{
    background-color: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
}





.card {
    position: relative;
    display: flex;
    background-color: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    width: 100%;
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
    transition: all 0.5s;
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: var(--primary);
    transition: all 0.5s;
    opacity: 0; /* Initially hidden */
}

.card:hover::before,
.card:hover::after {
    opacity: 1; /* Show the lines on hover */
}

.card::before {
    left: 0; /* Align at the start */
}

.card::after {
    right: 0; /* Align at the end */
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}
.tags{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.tags>span{
    color: var(--check);
    background-color: var(--lightcheck);
    font: 700 0.5rem sans-serif;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.tags>span>img{
    width: 13px;
}
.website{
    margin-bottom: 8px;
}
.website a{
    font: 700 1.3rem sans-serif;
    color: var(--primary);
}
.website a:hover{
    text-decoration: underline;
}

.website-name h5{
    font: 400 0.9rem sans-serif;
    color: var(--grey);
}
.website-name{
    margin-bottom: 8px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 20px;
}
.categories>span{
    background-color: rgba(128, 128, 128, 0.128);
    color: var(--grey);
    font: 100 0.7rem sans-serif;
    width:fit-content;
    padding: 2px 10px;
}

.info>img{
    width: 20px;
}
.info>span{
    font: 700 0.8rem sans-serif;
    color: var(--primary);
}
.info{
    cursor: pointer;
    display: flex;
    align-items: center;
    align-items: center;
}
.info:hover img{
    filter: brightness(70%);
}
.info:hover span{
    color: #44398d;
    text-decoration: underline;
}


.seo-metrices{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    padding: 50px 10px;
}
.metric{
    width: 50%;
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.metric-name{
    margin-right: 10px;
    height: fit-content;
    color: var(--grey);
    font: 400 0.9rem sans-serif;
}
.metric-value{
    height: fit-content;
    background-color: var(--lightcheck);
    color: var(--check);
    border-radius: 5px;
    padding: 2px 10px;
    font: 100 0.6rem sans-serif;
}
.metric img{
    width: 26px;
    margin-right: 10px;
}

.country{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 15%;
    padding-top: 60px;
}
.country>span{
    font: 400 0.9rem sans-serif;
    padding-left: 10px;
    color: rgb(65,65,65);
}
.country>div{
    display: flex;
    align-items: center;
}
.country>div>span{
    color: var(--grey);
    font: 400 0.9rem sans-serif;
}

.price{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    width: 15%;
    gap: 10px;
}
.price h2{
    font: 900 1.5rem sans-serif;
    color: rgb(65, 65, 65);
}
.price button{
    padding: 1rem 1.5rem;
    background-color: var(--primary);
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    font: 400 1.2rem sans-serif;
    transition: all 0.5s;
}
.price button:hover{
    background-color: var(--primarydark);
    transform: scale(1.05);

}
.price a{
    color: var(--primary);
    font: 100 1rem sans-serif;
}
.price a:hover{
    text-decoration: underline;
}

.activeDisplay{
    background-color: var(--primary);
}
.activeDisplay img{
    filter: invert(0%);
}


.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
}
.pagination>button {
    padding: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    border: none;
    font: 400 1rem sans-serif;
    cursor: pointer;
}
.pagination>div>button{
    padding: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    border: none;
    font: 400 1rem sans-serif;
    cursor: pointer;
}
#previousPage{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#nextPage{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#previousPage:hover{
    background-color: var(--grey);
}
#nextPage:hover{
    background-color: var(--grey);
}
.pagination>div>button:hover{
    filter: brightness(80%);
}


.tablepagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
}
.tablepagination>button {
    padding: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    border: none;
    font: 400 1rem sans-serif;
    cursor: pointer;
}
.tablepagination>div>button{
    padding: 5px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    border: none;
    font: 400 1rem sans-serif;
    cursor: pointer;
}
#tpreviousPage{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#tnextPage{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#tpreviousPage:hover{
    background-color: var(--grey);
}
#tnextPage:hover{
    background-color: var(--grey);
}
.tablepagination>div>button:hover{
    filter: brightness(80%);
}


.tableDisplay{
    display: flex;
    background-color: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    width: 100%;
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

table tr th{
    font: 700 1rem sans-serif;
    color: var(--grey);
    text-align: left;
    padding: 0.75rem;
}
.tablehead{
    padding: 0.75rem;
    border: 2px solid black;
}

.tabledata span,.tabledata a{
    display: block;
}
.tabledata>span{
    font: 700 1.1rem sans-serif;
    color: var(--primary);
}
.tabledata>a{
    font: 100 0.7rem sans-serif;
}
.tabledata>a:hover{
    text-decoration: underline;
}
.tablerow td{
    text-align :left;
    padding: .75rem;
    
}

.box{
    font: 400 0.7rem sans-serif;
    padding: 3px 6px;
    border-radius: 5px;
    background-color: var(--lightcheck);
    color: var(--check);
    width: fit-content;
    text-align: center;
}
.linkbox>button,.action>button{
    background-color: white;
    border-color: var(--primary);
    color: var(--primary);
    text-align: center;
    padding: 10px;
    font: 400 0.9rem sans-serif;
    border-radius: 10px;
    transition: all 0.3s;
}
.linkbox>button:hover,.action>button:hover{
    background-color: var(--primary);
    color: white;
}
.gn{
    font: 400 0.9rem sans-serif;
    color: var(--primary);
    cursor: pointer;
}
.gn:hover{
    text-decoration: underline;
}


/* Media queries for responsiveness */

@media screen and (max-width: 1200px) {
    .sidebar {
        width: 25%;
    }
}

@media screen and (max-width: 992px) {
    .sidebar {
        display: none;
    }

    .main {
        width: 100%;
    }

    .menu>img {
        display: block;
    }
    .card{
        flex-direction: column;
    }
    .card>div{
        width: 100%;
    }
    .seo-metrices{
        padding: 0px;
        margin-top: 20px;
    }
    .card-content{
        margin: 0px;
    }
    .country{
        padding-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        justify-content: flex-end;
    }

    #searchbar,#selected{
        width: 100%;
        height: 50px;
    }

    .innerFilter{
        width: 100%;
    }
    #name,
    .balancebtn {
        display: none;
    }

    .accountbtn {
        margin-right: 15px;
    }

    #accountDropdown {
        transform: translateX(-50%);
    }

    #accountDropdown div span {
        display: none;
    }

    .greet>h2{
        padding: 0px;
        text-align:left;
    }
    .form{
        flex-wrap: wrap;
    }
    
}

:root {
    --primary: #7160e0;
    --primarydark:#3773D3;
    --secondary: #1DC98A;
    --grey: #A0ACB7;
    --lightgrey: #aebac4c4;
    --check: #2FA9BB;
    --lightcheck: #2fa8bb4f;
}
